@model TVShop.DataAccess.Customer

@{
    ViewData["Title"] = "Create";
}

<div class="pt-4">
    <div class="text-center">
        <h1 >Sign Up</h1>
    </div>
    <hr />
    <div class=" mx-auto col-sm-4 neonText px-4 pt-4 pb-4 mt-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="text-left">User Name</label>
                <input asp-for="Name" class="form-control" />
                @Html.ValidationMessage("NError", new{ @class="text-danger"})
            </div>
            <div class="form-group">
                <label asp-for="Password" class="text-left"></label>
                <input type="password" asp-for="Password" class="form-control" />
                @Html.ValidationMessage("PError", new{ @class="text-danger"})
            </div>
            <div class="form-group">
                <label asp-for="Address" class="text-left">Delivery Address</label>
                <input asp-for="Address" class="form-control" />
                @Html.ValidationMessage("AError", new{ @class="text-danger"})
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="text-left"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
                @Html.ValidationMessage("PhError", new{ @class="text-danger"})
            </div>
            <div class="form-group">
                <label asp-for="Email" class="text-left">Email (Optional)</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <hr />
            <div class="form-group mx-auto">
                <input type="submit" value="Register Now" class="btn btn-outline-warning" />
                <a  class="btn btn-outline-warning" asp-controller="Account" asp-action="Login">Back</a>

            </div>
            
        </form>
    </div>
    
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
