@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400");

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #333;
    margin-bottom: 60px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 150px;
}

nav {
    height: 44px;
    background: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}



.menu {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}

.menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu ul li, .search-form {
    list-style: none;
}

.menu ul li,
.menu ul li a {
    color: #fff;
    line-height: 44px;
    text-decoration: none;
}

.menu ul li a .fa.fa-apple {
    font-size: 20px;
}

.menu ul li a .menu-item {
    transform: scale(1);
    transition: 0.5s;
    display: block;
}



.search-form {
    padding-bottom: 3px;
    height: 25px;
}



.lgibt {
    margin-top: 9px;
}

.lgibth {
    height: 27px;
    padding-top: 0px;
}



.textwidth {
    width: 25%;
}




footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #333;
}



.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


a,
a:focus,
a:hover {
    color: #fff;
}

.linkStyle {
    text-decoration: none;
}

.linkStyle:hover {
    text-decoration: underline;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #fff;
    background-color: #fff;
    border: 1px solid #fff;
}


.site-wrapper {
    display: table;
    width: 100%;
    height: 700px;
    background-color: #fff;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
    background-image: url('/Img/cover.jpg');
    background-position: center center;
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
}


.inner {
    padding: 30px;
}


@media (min-width: 768px) {
    .masthead {
        position: fixed;
        top: 0;
    }
    
    .site-wrapper-inner {
        vertical-align: middle;
    }
}


.MainButton {
    color: white;
    border: 3px solid #ffd800;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 20px;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 33px #ffd800) contrast(55) brightness(1);
    transition: .5s;
    text-decoration: none;
}

.MainButton:hover {
    color: darkslategrey;
    background-color: #ffd800;
    filter: drop-shadow(0 0 10px #ffd800) contrast(2) brightness(1);
    font-size: 25px;
    font-weight: bold;
}

.MainButton2 {
    color: forestgreen;
    border: 3px solid forestgreen;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 15px;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px forestgreen) drop-shadow(0 0 10px forestgreen) contrast(3) brightness(2);
    transition: .5s;
    text-decoration: none;
}

.MainButton2:hover {
    color: #023020;
    background-color: forestgreen;
    filter: drop-shadow(0 0 10px forestgreen) contrast(1) brightness(2);
}

.MainButton3 {
    color: orangered;
    border: 3px solid orangered;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 15px;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px orangered) drop-shadow(0 0 10px orangered) contrast(3) brightness(2);
    transition: .5s;
    text-decoration: none;
}

.MainButton3:hover {
    color: white;
    background-color: orangered;
    filter: drop-shadow(0 0 1px orangered) contrast(1) brightness(1);
}

.MainButton4 {
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 15px;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px white) drop-shadow(0 0 10px white) contrast(1) brightness(1);
    transition: .5s;
    text-decoration: none;
}

.MainButton4:hover {
    color: darkslategrey;
    background-color: white;
    filter: drop-shadow(0 0 10px white) contrast(1) brightness(1);
    font-weight: bold;
}

.MainButton5 {
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 15px;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px white) drop-shadow(0 0 10px white) contrast(1) brightness(1);
    transition: .5s;
    text-decoration: none;
}

.MainButton5:hover {
    color: darkslategrey;
    background-color: white;
    filter: drop-shadow(0 0 10px white) contrast(1) brightness(1);
    font-weight: bold;
}

.MainButton6 {
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 10px;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px white) drop-shadow(0 0 10px white) contrast(1) brightness(1);
    transition: .5s;
    text-decoration: none;
}

.MainButton6:hover {
    color: darkslategrey;
    background-color: white;
    filter: drop-shadow(0 0 10px white) contrast(1) brightness(1);
    font-weight: bold;
}

.neonText {
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}



.overDiv {
    width: cover;
    height: 400px;
    overflow: auto;
}

th {
    color: white;
}


.gg-remove {
    margin-top:4px;
    position: absolute;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 8px;
    border: 2px solid;
    border-radius: 20px;
    color: red;
}

.gg-remove::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 2px;
    background: currentColor;
    border-radius: 3px;
    top: 7px;
    left: 4.5px;
    border-color:red;
}

.inner-div {
    height: 100%;
    width: 100%;
    padding: 150px 0;
}


.tb1 {
    margin-top: 20px;
    animation: pulsate 1.5s infinite alternate;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.th1 {
    padding-top: 10px;
}

